Data From:
"renz: An R package for the analysis of enzyme kinetic data." J.C. Aledo BMC Bioinformatics, 2022, 23, 182. https://doi.org/10.1186/s12859-022-04729-4

In [4]:
import pyreadr

result = pyreadr.read_r("ONPG.rda") # also works for Rds, rda

# done! let's see what we got
# result is a dictionary where keys are the name of objects and the values python
# objects
print(result.keys()) # let's check what objects we got
df1 = result["ONPG"] # extract the pandas data frame for object df1
df1

odict_keys(['TcTS'])

      a      b   rate
0   2.0  0.005  0.113
1   3.4  0.005  0.147
2   5.0  0.005  0.160
3   7.7  0.005  0.169
4   2.0  0.010  0.146
5   3.4  0.010  0.195
6   5.0  0.010  0.231
7   7.7  0.010  0.254
8   2.0  0.100  0.195
9   3.4  0.100  0.306
10  5.0  0.100  0.417
11  7.7  0.100  0.536
12  2.0  1.000  0.238
13  3.4  1.000  0.395
14  5.0  1.000  0.536
15  7.7  1.000  0.714

In [9]:
df2 = df1.copy()
df2["v3"]=df2["v3"]*1000
df2["v4"]=df2["v4"]*1000
df2["v5"]=df2["v5"]*1000
df2["v6"]=df2["v6"]*1000
df2

    ONPG      v1      v2     v3     v4     v5     v6      v7      v8
0   0.05    2.26    1.29    4.0    4.0    4.0    3.0    1.77    2.98
1   0.10    5.48    3.33    8.0    7.0    7.0    6.0    5.20    5.20
2   0.25   13.40   11.80   20.0   20.0   16.0   17.0   15.04   14.38
3   0.50   24.70   22.80   35.0   35.0   32.0   31.0   28.31   30.30
4   1.00   40.90   35.20   60.0   56.0   50.0   48.0   50.98   48.99
5   2.50   62.30   39.90  110.0  104.0   90.0  101.0   75.42   86.25
6   5.00   94.30   73.50  138.0  138.0  115.0  121.0  112.68  112.57
7   8.00  105.00   12.90  154.0  150.0  119.0  139.0  126.06  136.24
8  20.00  133.00  112.00  179.0  179.0  142.0  152.0  154.93  169.97
9  30.00  144.00  120.00  200.0  200.0  166.0  181.0  168.75  177.71

In [11]:
df2.to_csv("out.csv")